{% extends "base.html" %}

{% block contenido %}
<style>
    .form-control::placeholder {
        color: #6b6b8a;
    }
</style>

<div class="p-4">
    <div class="div d-flex justify-content-between align-items-center mb-4">
        <h4 class="text-white">Usuarios</h4>
        <button class="btn btn-sm px-5, py-2" style="background-color: #7F77DD; color: white;" data-bs-toggle="modal"
            data-bs-target="#modalUser">
            <i class="bi bi-person-plus me-1"></i> Agregar Usuario
        </button>
    </div>

    <div class="mb-3">
        <input type=" text" class="form-control" style="background-color: #16213e;
            border: 1px solid #2a2a4a;
            color: white;" placeholder="Buscar usuario...">
    </div>

    <table class="table table-hover table-dark ms-aut" style="border: 2px solid #2a2a4a; border-radius: 8px;">
        <thead style="border-bottom: 2px solid #7F77DD;">
            <tr>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Rol</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Carlos Cintora</td>
                <td>carloscintora66@gmail.com</td>
                <td><span class="badge" style="background-color: #7F77DD;">Admin</span></td>
                <td>
                    <button class="btn btn-sm btn-warning">Editar</button>
                    <button class="btn btn-sm btn-danger">Eliminar</button>
                </td>
            </tr>

            <tr>
                <td>Alexis Gonzalez</td>
                <td>alexisglex9889@gmail.com</td>
                <td><span class="badge" style="background-color: rgb(8, 90, 19);">Gerente</span></td>
                <td>
                    <button class="btn btn-sm btn-warning">Editar</button>
                    <button class="btn btn-sm btn-danger">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>


    <div class="modal" id="modalUser">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Agregar Usuario</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" id="form-user">
                        <div class="mb-3">
                            <label class="form-label">Nombre</label>
                            <input class="form-control" type="text" name="nombre">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Correo</label>
                            <input class="form-control" type="email" name="correo">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Rol</label>
                            <select name="rol" class="form-select">
                                <option value="admin">Admin</option>
                                <option value="encargado">Encargado</option>
                                <option value="gerente">Gerente</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Contraseña</label>
                            <input class="form-control" type="password" name="password">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button data-bs-dismiss="modal" class="btn btn-secondary">Cancelar</button>
                    <button class="btn" style="background-color: #7F77DD; color: white;"
                        form="form-user">Guardar</button>
                </div>
            </div>
        </div>
    </div>


</div>


{% endblock %}