{% extends "base.html" %}
{% block contenido %}

<div class="p-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h4 class="text-white">Clientes</h4>
        <button class="btn btn-sm btn-primary-custom px-5 py-2" data-bs-toggle="modal" data-bs-target="#modal-customer">
            <i class="bi bi-person-plus me-1"></i> Agregar Cliente
        </button>
    </div>

    <div class="mb-3">
        <input type="text" class="form-control" placeholder="Buscar Cliente...">
    </div>

    <table class="table table-hover table-dark" style="border: 2px solid #2a2a4a; border-radius: 8px;">
        <thead style="border-bottom: 2px solid #7F77DD;">
            <tr>
                <th>Nombre</th>
                <th>RFC</th>
                <th>Fecha De Nacimiento</th>
                <th>Puntos</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {%for customer in customers%}
            <tr>
                <td>{{customer.name}}</td>
                <td>{{customer.rfc}}</td>
                <td>{{ customer.birth_date.strftime('%d/%m/%Y') if customer.birth_date else '—' }}</td>
                <td>{{customer.points}}</td>
                <td>
                    <button data-bs-toggle="modal" data-bs-target="#modal-edit-{{customer.id}}" class="btn btn-sm btn-warning">Editar</button>
                   <form action="{{url_for('customers.desactivate', id = customer.id)}}" method="POST">
                    <button class="btn btn-sm btn-danger">Eliminar</button>
                    </form>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>

    {% include 'customers/modal_add.html' %}
    {% include 'customers/modal_edit.html'%}

</div>

{% endblock %}